html, body {
    background-color: #0b0c10;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
}

footer {
    position: absolute;
    bottom: 0;
}


.title {
    text-align: center;
    margin: auto;
    justify-content: center;
    color:#66FCF1;
    animation: floating 3s infinite;
    font-size: 25px;
}

.copyright {
    margin-top: 335px;
    color: #c5c6c7
}

.buttonDesign {
    width: 200px;
    height: 100px;
    font-size: 20px;
    margin: auto;
    border-width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    background-color: #66fcf1;
    transition: border-width 0.5s linear;
}
.buttonDesign:hover {
  width: 200px;
  height: 100px;
  font-size: 20px;
  margin: auto;
  margin-top: 40px;
  background-color: #45A29E;
  animation: changeButtonColor 0.5s;
  border-width: 0px;
}

.button-container {
  position: flex;
  text-align: center;
  opacity: 0;
}

.pickPosition {
  border-style: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 200px;
  padding: 30px;
  cursor: pointer;
  font-size: 20px;
  background-color: #c5c6c7;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.pickPosition:hover, .selected  {
  background-color: #45A29E;
  animation: shakeSelected 0.5s infinite;
}

#posP {
  display: flex;
  color: #c5c6c7;
  font-size: 50px;
  margin-top: 130px;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 1s ease;
}



#continueButton2 {
  opacity: 0;
  transform: translateY(200px);
  transition: opacity 1.5s ease, transform 1.5s ease, border-width 0.5s linear;
}

#parent-container {
  justify-content: center;
  display: none;
}
#step3-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  grid-template-rows: repeat(2, 1fr); /* 2 rows */
  gap: 25px;
  align-items: center;

}
.skillsInput {
  font-size: 35px;
  height: 100px;
  font-size: 20px;
  display: flex;
  text-align: center;
  justify-content: center;
  color: #0b0c10;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.skillLabel {
  color: #c5c6c7;
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 35px;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.5s ease, transform 0.5s ease;

}
.crossOut {
  text-decoration: line-through;
}
.skillsInput:focus {
  outline: none;
  background-color: #c5c6c7;
  border-color: #1F2833;
}

.skillsInput:disabled {
  background-color: #525252;
}


#continueButton3 {
  opacity: 0;
  transform: translateY(200px);
  transition: opacity 1.6s ease, transform 1.6s ease, border-width 0.5s linear;
}

#chartContainer {
  position: absolute;
  left: 130%;
  top: 25%;
  transform: translate(-50%, 5%);
  height:25vh; 
  width:25vw;
  background-color: #0b0c10; /* Optional background color for the container */
  transition: left 0.5s ease;
}

#step4-container {
  display: none;
}

#continueButton4 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25%;
  opacity: 0;
  transform: translateY(200px);
  transition: transform 1s ease, opacity 1s ease;
}
#scoreText {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #c5c5c5;
  font-size: 40px;
}

#rankText {
  display: flex;
  justify-content: center;
  align-items: center;
  color: gold;
  font-size: 80px;
}


.s-grade {
  animation: lightning 1s infinite;
  color: gold;
}


.a-grade {
  animation: glowing 1s infinite ease;
  color: rgb(62, 10, 160)
}


.b-grade {
  animation: pulse 1.5s infinite;
}


.c-grade {
  display: none;
}


.d-grade {
  display: none;
}


.f-grade {
  transform-origin: top center;
  color: rgb(112, 112, 112);
  animation: swingAfter 2s forwards;
}

.swing-start {
  animation: swingStart 2s forwards;
}

.glow{
  animation: glowing 1.5s infinite;
}

.shine {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

  .error {
    border-style: solid;
    border-color: red !important;
  }

  .leave-right {
    animation: leave-right 1s forwards;
  }
  
  .leave-down {
    animation: leave-down 1s forwards;
  }

#nameBox{
    width: 300px;
    height: 150px;
    font-size: 20px;
    text-align: center;
    margin: auto;
    display: block;
    margin-top: 10%;
    outline: none;
    background-color: #c5c6c7;
    border-color: #1F2833;
}
#namebox:focus{
    width: 300px;
    height: 150px;
    margin: auto;
    display: block;
    margin-top: 10%;
    background-color: #c5c6c7;
    border-color: #1F2833;
}






@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }    
}

@keyframes changeButtonColor {
    0% {background-color: #66fcf1;}
    100% {background-color: #45A29E;}
          
}
@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-8px); }
    50% { transform: translateX(8px); }
    75% { transform: translateX(-8px); }
    100% { transform: translateX(0); }
  }

  @keyframes leave-right {
    0% {transform: translateX(0);}
    80% {transform: translateX(200px);}
    100% {opacity: 0;}
  }

  @keyframes leave-down {
    0% {transform: translateY(0);}
    80% {transform: translateY(100px);}
    100% {opacity: 0;}
  }
  
  @keyframes return-from-down {
    0% {transform: translateY(100px);}
    100% {transform: translateY(0px);
          opacity: 1;}
  }

  @keyframes shakeSelected {
    0% { transform: translate(0, 0); }
    25% { transform: translate(-1px, -1px); }
    50% { transform: translate(1px, 1px); }
    75% { transform: translate(-1px, 1px); }
    100% { transform: translate(1px, -1px); }
  }

  @keyframes glowing {
    0% {
      text-shadow: 0px 0 5px #45A29E;
    }
    50% {
      text-shadow: 0 0 25px #45A29E;
    }
    100% {
      text-shadow: 0 0 5px #45A29E;
    }
  }

  
  @keyframes pulse {
    0% {
      opacity: 0.7;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.7;
    }
  }
  @keyframes lightning {
    0% {
      text-shadow: none;
    }
    20% {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff
    }
    100% {
      text-shadow: none;
    }
  }


@keyframes swingStart {
  0% {
    transform: rotate(-180deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes swingAfter {
  0% {
    transform: rotate(-10deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}